<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            var checkBox = document.getElementById("checkBox1");
            var text = document.getElementById("box1");
            if (checkBox.checked === true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
        function myFunction2() {
            var checkBox = document.getElementById("checkBox2");
            var text = document.getElementById("box2");
            if (checkBox.checked === true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
    </script>
</head>
<body>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkBox1" onclick="myFunction()">
    <label class="form-check-label" for="checkBox1">
        Magic Square
    </label>
    <div class="container" id="box1" style="display: none">
        <div class="box">
            <form th:action="@{/magicSquare}" method="post">
                <div class="mb-3">
                    <label for="inputText" class="form-label">Введите числа от 1 до 9</label>
                    <input type="text" class="form-control" id="inputText" name="magicSq"
                           placeholder="1 2 3 4 5 6 7 8 9">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
                <div class="mb-3">
                    <form th:action="@{/magicSquareCount}" method="post">
                        <button type="submit" class="btn btn-success">Посчитать</button>
                    </form>
                </div>
                <div class="mb-3">
                    <form th:action="@{/saveFile}" method="post">
                        <label for="inputMs" class="form-label">Введите числа которые хотите сохранить</label>
                        <input type="text" class="form-control" id="inputMs" name="magicSq" placeholder="987654321">
                        <label for="saveFile" class="form-label">Укажите имя файла</label>
                        <input type="text" class="form-control" id="saveFile" name="fileName" placeholder="file.txt">
                        <button type="submit" class="btn btn-success">Экспортировать</button>
                    </form>
                </div>
                <div class="md-3">
                    <form th:action="@{/findByDate}" method="post">
                        <label for="selectDate" class="form-label">Укажите дату для выборки</label>
                        <input type="text" class="form-control" id="selectDate" name="localDate"
                               placeholder="2022-05-11">
                        <button type="submit" class="btn btn-success">Загрузить</button>
                    </form>
                </div>
                <div class="md-3">
                    <form th:action="@{/findFile}" method="post">
                        <label for="selectFile" class="form-label">Укажите имя файла для загрузки</label>
                        <input type="text" class="form-control" id="selectFile" name="fileName"
                               placeholder="file.txt">
                        <button type="submit" class="btn btn-success">Импортировать</button>
                    </form>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="row" th:if="${result != null}">
                <label for="rsl">Результат</label>
                <p id="rsl" th:text="${result.getInput()}"></p>
                <p th:text="${result.getResult()}"></p>
            </div>
            <div class="row" th:if="${magicSquares != null}">
                <table>
                    <tr>
                        <th>Input</th>
                        <th>Result</th>
                        <th>Created</th>
                    </tr>
                    <tr th:each="magicSquare : ${magicSquares}">
                        <td th:text="${magicSquare.getInput()}"></td>
                        <td th:text="${magicSquare.getResult()}"></td>
                        <td th:text="${magicSquare.getCreated()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="from-check" >
    <input class="form-check-input" type="checkbox" value="" id="checkBox2" onclick="myFunction2()">
    <label class="form-check-label" for="checkBox2">
        Contains String
    </label>
    <div class="container" id="box2" style="display: none">
        <div class="box">
            <form th:action="@{/contains}" method="post">
                <div class="mb-3">
                    <label for="inputStr" class="form-label">Введите текс для поиска</label>
                    <input type="text" class="form-control" id="inputStr" name="firstInput"
                           placeholder="arp live strong">
                    <label for="inputStr2" class="form-label">Введите слова для поиска</label>
                    <input type="text" class="form-control" id="inputStr2" name="secondInput"
                           placeholder="lively alive harp sharp armstrong">
                    <button type="submit" class="btn btn-success">Найти</button>
                </div>
            </form>
            <form th:action="@{/containsSave}" method="post">
                <div class="mb-3">
                    <label for="inputStr3" class="form-label">Введите текс для поиска</label>
                    <input type="text" class="form-control" id="inputStr3" name="firstInput"
                           placeholder="arp live strong">
                    <label for="inputStr4" class="form-label">Введите слова для поиска</label>
                    <input type="text" class="form-control" id="inputStr4" name="secondInput"
                           placeholder="lively alive harp sharp armstrong">
                    <button type="submit" class="btn btn-success">Найти и сохранить</button>
                </div>
            </form>
            <form th:action="@{/findStrByDate}" method="post">
                <div class="mb-3">
                    <label for="inputDate" class="form-label">Введите текс для поиска</label>
                    <input type="text" class="form-control" id="inputDate" name="localDate"
                           placeholder="2022-05-11">
                    <button type="submit" class="btn btn-success">Загрузить</button>
                </div>
            </form>
            <form th:action="@{/saveFileStr}" method="post">
                <label for="inputSaveStr1" class="form-label">Введите текст который хотите найти и схоранить</label>
                <input type="text" class="form-control" id="inputSaveStr1" name="firstInput"
                       placeholder="arp live strong">
                <label for="inputSaveStr2" class="form-label">Введите слова который хотите и схоранить</label>
                <input type="text" class="form-control" id="inputSaveStr2" name="secondInput"
                       placeholder="lively alive harp sharp armstrong">
                <label for="saveFileStr" class="form-label">Укажите имя файла</label>
                <input type="text" class="form-control" id="saveFileStr" name="fileNameStr" placeholder="file.txt">
                <button type="submit" class="btn btn-success">Экспортировать</button>
            </form>
        </div>
        <div class="container">
            <div class="row" th:if="${resultStr != null}">
                <label for="result">Результат</label>
                <p id="result" th:text="${resultStr.toString()}"></p>
            </div>
            <div class="row" th:if="${resultStrList != null}">
                <table>
                    <tr>
                        <th>Result</th>
                    </tr>
                    <tr th:each="str : ${resultStrList}">
                        <td th:text="${str.toString()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>